.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  border-radius: 0;
}

.body {
  font-family: 'Roboto', sans-serif !important;
}

.header {
  padding-top: 50px;
  
}

.breadcrumb {
  padding-bottom: 0;
  background: #7ABED3;
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 0px;
}

.breadcrumb li {
  font-size: 20px;
}

.breadcrumb a {
  color: rgba(255, 255, 255, 1);
}

.breadcrumb a:hover {
  color: rgb(224, 224, 224);
}

.breadcrumb>.active {
  color: rgba(255, 255, 255, 1);
}

.breadcrumb>li+li:before {
  color: rgba(255, 255, 255, 1);
  content: "\003E\00a0";
}

.main-color-bg {
  background-color: #7ABED3;
  color: #FFF;
}

.dark-bg {
  background-color: #19191a;
  color: #FFF;
}

.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}

.modal-header {
  color: #fff;
  background-color: #7ABED3;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.card {
  background: #FFF;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AAA;
  border-bottom: 3px solid #BBB;
  padding: 0px;
  margin-top: 1em;
  overflow: hidden;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body {
  margin: 2em;
}

.card-header {
  width: 100%;
  color: #fff;
  background-color: #7ABED3;
  border-bottom: 3px solid #BBB;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin-top: 0px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#navigation {
  background: #19191a;
}

#navigation {
  padding: 0;
}

.display-table {
  display: table;
  padding: 0;
  height: 100%;
  width: 100%;
}

.display-table-row {
  display: table-row;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
}

.navi a {
  border-bottom: 1px solid #19191a;
  border-top: 1px solid #19191a;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
}

.navi i {
  margin-right: 15px;
  color: #7ABED3;
}

.navi .active a {
  background: #19191a;
  border-left: 5px solid #7ABED3;
}

.navi a:hover {
  background: #19191a none repeat scroll 0 0;
  border-left: 5px solid #7ABED3;
  display: block;
}